[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
invoke = "*"
spotipy = "*"
mongoengine = "*"
pytest = "*"
coverage = "*"
flake8 = "*"
black = "*"
pytest-cov = "*"
mongomock = "*"
python-dotenv = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.11"
